.profile{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.profile-nav-avatar img{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    
}
.profile-body{
    display: flex;
    /* padding: 0 5%; */
    gap: 10px;
}
.profile-nav{
    width: 184px;
    box-shadow: 0 0 6px rgba(22,22,2,.12);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile-nav-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-nav-list{
    display: flex;
    flex-direction: column;
    /* gap:20px ; */
}
.profile-nav-item{
    display: flex;
    flex-direction: column;
}
.profile-nav-content{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
    transition: .3s ease;

}
.profile-nav-item.active > .profile-nav-content {
    background-color: var(--primary);
    color: var(--white);
}
.profile-nav-item.active .profile-nav-more{
    display: block;
}
.profile-nav-more{
    display: none;
}
.profile-nav-more .profile-nav-item-title{
    margin-left: 26px;
}
.profile-nav-item-down{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.profile-nav-item-title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.profile-nav-content.active .profile-nav-item-down .fa-chevron-right{
    transform: rotate(90deg);
}
.profile-nav-more .profile-nav-content:hover{
    background-color:rgba(22,22,24,.06);
}
.profile-img img{
    width: 120px;height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-container{
    display: flex;
    flex-direction: column;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    flex: 1;
    padding: 40px;
}
.profile-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile-title{
    color: var(--primary);
    font-size: 2.4rem;
    font-weight: 600;
}
.profile-avatar-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.profile-avatar-body label{
    transition: .3s ease;
}
.profile-avatar-body label:hover{
    cursor: pointer;
    opacity: .8;
}
.form-update-profile{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.profile-group{
    display: flex;
    align-items: center;
}
.profile-group label{
    width: 200px;
    font-weight: 600;
}
.profile-content{
    display: flex;
    gap: 10px;
}
.profile-input{
    border: 1px solid var(--boder-color);
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    color: var(--text-color);
    font-size: 1.6rem;
}
.profile-content{
    flex: 1;
    
}
.profile-eidt-submit{
    padding-left: 200px;
}
.btn-update-profile{
    background-color: var(--primary);
    color: var(--white);
    padding: 14px 64px;
    border-radius: 12px;
    transition: .3s ease;
}
.btn-update-profile:hover{
    opacity: .8;
    cursor: pointer;
}
.profile-nav-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.profile-nav-user-name{
    font-weight: 600;

}
.profile-nav-user-edit{
    color: var(--primary);
    cursor: pointer;
}
@media screen and (max-width: 880px) {
    .profile-nav{
        display: none;
    }
}
@media screen and (max-width: 630px) {
    .profile-body{
        padding: 0;
    }
}
@media screen and (max-width: 540px) {
    .profile-container{
        padding: 10px;
    }
    .profile-group label {
        width: 92px;
    }
    .profile-eidt-submit{
        padding-left: 92px;
    }
}
.referral-body{
    padding: 20px 0;
}
.referral-body .profile-title{
    margin:0  0px 20px 20px;
}
.referral-body{
    flex: 1px;
}
.referral-top{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.referral-top-item{
    flex: 1;
   padding:24px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 4px rgba(22,22,24,.12);
    border-radius: 12px;
}
.referral-top-title{
    display: flex;
    justify-content: space-between;
}
.referral-top-icon{
    padding:6px 4px;
    border-radius: 3px;
    color: var(--white);
    background-color: var(--primary);
}
.referral-top-title span{
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--primary);
}
.referral-body{
    padding-left: 10px;
}
.referral-copy img{
    width: 36px;height: 36px;object-fit: cover;
}
.referral-copy{
    display: flex;
    margin: 20px 0;
    align-items: center;
    /* box-shadow: 0 0 4px rgba(22,22,24,.12); */
}
.referral-copy-text{
    flex: 1;
    padding: 8px 10px;
    font-weight: 600;
    border-top: 1px dashed var(--primary);
    border-bottom: 1px dashed var(--primary);
    border-left: 1px dashed var(--primary);
    
}
.referral-copy-btn{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 20px;
    border: 1px solid var(--primary);
    height: 100%;
    margin-left: 20px;
    padding: 6px 12px;
}
.referral-tab{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    box-shadow: 0 0 4px rgba(22,22,24,.12);
}
.referral-tab-item.active{
    color: var(--primary);
    font-weight: 600;
}
.referral-content,.referral-id{
    margin: 20px 0;
    box-shadow: 0 0 4 rgba(22,22,24,.12);
    display: flex;
    flex-direction: column;
}
.referral-id{
    width: 100%;
}
.referral-id-nav{
    display: flex;
    font-weight: 600;
    width: 100%;
}
.rederral-id-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 20% 10% 10% 15% 35% 10%;
    border-bottom: 1px solid rgba(173, 173, 173, 1);
}
.rederral-id-item div{
    padding: 10px 6px ;
   
}
.referral-id-nav .rederral-id-item{
    padding: 12px 0;
}
@media screen and (max-width:860px) {
    
    .rederral-id-item{
        width: 998px;
    }
    .referral-body{
        overflow-x: scroll;
    }
}
@media screen and (max-width:560px) {
    .referral-top-icon{
        display: none;
    }
    .referral-top-id{
        text-align: center;
    }
}